<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kn.initialmusic.mapper.MessageMapper">
    <insert id="saveMsgUserDB">
        insert into messageuser(fUser_id, sUser_id)
            value (#{fUser_ID}, #{sUser_ID})
    </insert>

    <select id="getMessagesList" resultType="com.kn.initialmusic.webSocket.pojo.FormatMess">
        select user_ID         as poster_ID,
               user_name       as poster_Name,
               user_avatar     as poster_Avatar,
               message_content as messageText,
               post_time       as post_Time
        from message,
             user
        where fUser_id = #{fUser_ID}
          and sUser_id = #{sUser_ID}
          and poster_id = user_ID
    </select>
    <select id="getMessageUser" resultType="com.kn.initialmusic.webSocket.pojo.MessUser">
        select sUser_id as user_id, user_name, user_avatar
        from messageuser,
             user
        where fUser_id = #{user_ID}
          and user_ID = sUser_id
        UNION ALL
        select fUser_id as user_id, user_name, user_avatar
        from messageuser,
             user
        where sUser_id = #{user_ID}
          and user_ID = fUser_id;
    </select>
</mapper>